<section class="bg-[#242526] h-full text-[#e6e6e6] flex flex-col justify-center">
    <!-- WRAPPER -->
    <div class="container mx-auto">
        <div class="py-10 mx-auto text-center">
            <div class="h-[800px] w-[800px] self-center inline-block">

            </div>
        </div>
    </div>
</section>