<!-- HERO SECTION -->
<section 
  class="w-full text-[#E6E6E6] bg-cover bg-center contrast-100 saturate-100 grayscale-75
         flex items-center justify-center" 
  style="background-image: url('images/bg-main.jpg')">
  <div class="w-full h-full flex justify-center items-center mx-[100px] my-[85px]">
    <article class="w-full h-[770px] bg-gradient-to-tr from-slate-500 to-slate-900 text-center rounded-3xl">
      a
    </article>
  </div>
</section>