/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* always hidden */
[x-cloak="cloaked"] { display: none; }

/* hidden on mobile/smaller screens */
@media screen and (max-width: 768px) {
    [x-cloak="mobile"] { display: none; }
}

/* hidden on mobile/smaller screens */
@media screen and (max-width: 960px) {
    [x-cloak="medium"] { display: none; }
}

/* hidden on mobile/smaller screens */
@media screen and (max-width: 540px) {
    [x-cloak="sm-mobile"] { display: none; }
}

