/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* always hidden */
[x-cloak="cloaked"] { display: none; }

/* hidden on mobile/smaller screens */
@media screen and (max-width: 768px) {
    [x-cloak="mobile"] { display: none; }
}

/* hidden on medium/smaller screens */
@media screen and (max-width: 960px) {
    [x-cloak="medium"] { display: none; }
}

/* hidden on mobile/smaller screens */
@media screen and (max-width: 540px) {
    [x-cloak="sm-mobile"] { display: none; }
}

/* hidden on large/smaller screens */
@media screen and (max-width: 1280px) {
    [x-cloak="large"] { display: none; }
}
