<!-- MAIN CONTENT -->
<main class="relative w-full h-calc-vh2 lg:h-calc-vh1">
  <span class="w-full h-[2px] absolute right-0 left-0 top-[-2px] bg-repeat-x blur-[3px] shadow-sm"
    style="background-image: url('images/bg-main.jpg'); background-size: 1px 1px">
  </span>
  <%= @inner_content %>
</main>