<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Portfolio", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-black">
    <header class="max-w-[1440px] h-[84px] bg-[#242526] flex justify-between align-center mx-auto">
      <div class="text-3xl font-bold h-full flex items-center mx-auto">
        <p class="text-[#C4B5FD]">emac</p>
        <p class="text-[#E6E6E6]">.developer</p>
      </div>
      <nav class="h-full bg-[#F3F4F6] text-white text-xl font-medium flex items-center text-bold mx-auto">
        <ul class="h-full flex">
          <li class="h-full w-[180px] flex items-center pl-[16px] bg-[#242526] ml-[2px]">
            <span>
              Home
            </span>
          </li>
          <li class="h-full w-[180px] flex items-center pl-[16px] bg-[#242526] ml-[2px]">
            <span>
              Games
            </span>
          </li>
          <li class="h-full w-[180px] flex items-center pl-[16px] bg-[#242526] ml-[2px]">
            <span>
              About
            </span>
          </li>
          <li class="h-full w-[180px] flex items-center pl-[16px] bg-[#242526] ml-[2px]">
            <span>
              Hire me!
            </span>
          </li>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
